---

---

<!DOCTYPE html>
<html>

  {% include head.html %}
  <link rel="stylesheet" type="text/css" href="css/home.css">

  <body>
    <div id="banner-wrap" class="wsite-background wsite-custom-background">

      <div id="banner" class="container">
        <div id="banner-inner">

          <h2><span class="wsite-text wsite-headline">
            medhistree.com
          </span></h2>

          <p><span class="wsite-text wsite-headline-paragraph">
            Follow us on Twitter @medhistree to join our beta and learn more about the medhistree project.
          </span></p>

          <div style="text-align:center;">
            <div style="height: 0px; overflow: hidden;"></div>
            <a class="wsite-button wsite-button-large wsite-button-highlight" href="https://twitter.com/medhistree" >
              <span class="wsite-button-inner">Follow Us</span>
            </a>
            <div style="height: 0px; overflow: hidden;"></div>
          </div>
        </div> <!--end banner-inner-->
      </div>

    </div> <!--end banner-wrap-->


    {% include footer.html %}

  </body>

</html>


